/* prevent 'bounce' in scrolling */
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.hidden {
    display: none;
}

/* images are displayed in viewports */
.viewport {
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position:absolute
}

.overlay {
    position: absolute;
    color: #e4ad00;
}

.imageViewer {
}

.myNav {
    margin: 0;
    border:0;
}

.viewportWrapper {

}
.renderTime {}
.fps {}

.csthumbnail {
    color: white;
    background-color:black;
    width:100px;
    height:100px;
    border: 0px;
    padding: 0px;
}

.viewer {
    position: absolute;
    width: 100%;
    left: 110px;
}

.thumbnailSelector {
    width:106px;
    float:left;
    margin-left:0px;
}
body, html {height:100%}

#wrap {height:100%}

.studyContainer {
    margin-top: 2px;
    margin-left:0px;
    margin-right:0px;
    padding: 0px;
}
.container {
}

.thumbnails {
    margin:0px;
    margin-bottom: 0px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.studyRow {
    margin-left: 0px;
    margin-rigth: 0px;
    height:100%;
}
.row {
    margin:0;
}

a.list-group-item {
    background-color: black;
    padding: 2px;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #424242;
    border-color: #4e4e4e;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #424242;
    border-color: #4e4e4e;
}