<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">About</h4>
            </div>
            <div class="modal-body">
                <br>
                This demo is based on the Cornerstone open source project.  All 2D image rendering is done on the client side
                side using HTML5 and JavaScript.  DICOM P10 Instances are retrieved via WADO, parsed and displayed by the viewer -
                the server side performs no processing.
                <br>
                <br>
                <a href="https://github.com/chafey/cornerstone" target="_blank">Click here to learn more about cornerstone</a>
                <br>
                <br>
                <a href="architecture.html" target="_blank">Click here to read about the architecture</a>
                <br>
                <br>
                Hosting of demo images provided by <a href="http://www.lury.net" target="_blank">Lury</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

