<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Help</h4>
            </div>
            <div class="modal-body">
                <ol>
                    <li>Select a study in the study list to view its images, a new tab will be created for each study.</li>
                    <li>Interact with the image using your mouse: left click drag - ww/wl, middle click drag - pan, right click drag - zoom, mouse wheel - scroll through stack</li>
                    <li>Select another series to display by left click the series list on the left</li>
                    <li>Select another tool to use with the left mouse button by selecting the tool button</li>
                </ol>
                <br>
                This demo requires a HTLM5 browser, Google Chrome is recommended.
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>