<div class="viewportWrapper" style="width:100%;height:100%;position:relative;color: white;float:left;background-color:black;"
     oncontextmenu="return false"
     class='cornerstone-enabled-image'
     unselectable='on'
     onselectstart='return false;'
     onmousedown='return false;'>
    <!-- Viewport -->
    <div class="viewport"></div>

    <!-- Overlays -->
    <div class="overlay" style="top:0px; left:0px">
        <div>Patient Name</div>
        <div>Patient Id</div>
    </div>

    <div class="overlay" style="top:0px; right:0px">
        <div>Study Description</div>
        <div>Study Date</div>
    </div>

    <div class="overlay" style="bottom:0px; left:0px">
        <div class="fps">FPS:</div>
        <div class="renderTime">Render Time:</div>
        <div class="currentImageAndTotalImages">Image #:</div>
    </div>

    <div class="overlay" style="bottom:0px; right:0px">
        <div>Zoom:</div>
        <div>WW/WC:</div>
    </div>
</div>
